/*visibility*/
#results {
	display:none;
}

#short-form {
	display:none;
}

#long-form {
	display:none;
}

#lab-input {
	display: none;
}

#reqs-complete {
	display: none;
}

#all-done {
	display: none;
}

#grad {
	display: none;
}

@media print {

	#results {
		display:inline;
	}

	#no-print {
		display: none;
	}

}

/*etc styling*/

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #2c619e;
}

#all {
	border:2px solid #353535;
	width:900px;
	margin-left: auto;
	background-color: #ffffd1;
	margin-right: auto;
}

form {
	font-size: 15px;
}

p {
	font-size: 15px;
}

ul {
	padding-left: 20px;
	font-size: 15px;
}

h1 {
	text-align: center;
}

h4 {
	padding-left: 20px;
	clear: both;
	margin-bottom: 10px;
}

a {
	color: #2c619e;
	text-decoration: none;
}

fieldset {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #353535;
	width:800px;
	background-color: #ffffff;
}

input {
	margin-bottom: 10px;
	width: 70px;
}

input[type=checkbox] {
	font-weight: bold;
	width: 16px;

}

legend {
	font-size:18px;
	font-weight: bold;
}

button {
	text-align: center;
}

label {
	float: left;
	width: 210px;
	padding-top: 5px;
}

#submit {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.double {
	float: left;
	margin: auto;
	padding: 0px 20px 20px 20px;
}

form.double {
	width: 250px;
	padding-left: 40px;
}

ul.double {
	padding-right: 0px;
	padding-left: 20px;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 0px;
	width: 430px;
	padding: 0px 0px 0px 20px;

}

.single {
	padding: 0px 20px 20px 20px;
}

.centre {
	margin: auto;
 	display: inline;
}

/*integ*/
#integ p {
	float: left;
	width: 25%;
	text-align: center;
}

#integ p #integ-para {
	margin-left: -10px;
}

/*sci*/
#sci-form {
	padding: 20px 0px 0px 0px;
}

#sci-notes {
	padding-top: 0px;
	padding-bottom: 20px;
}

#sci-ul {
	padding-bottom: 20px;
}

/*lang*/
#lang-form {
	padding-bottom: 20px;
}

/*breadth*/
 #breadth {
 	padding: 20px 0px 0px 0px;
 	margin-left: 
 }

#bre1 {
	margin-left: 18px;
}

/*electives*/
#electives button {
	text-align: center;
}

#long-form-input {
	margin-left: 40px;
}

#lab-input {
	margin-left: 40px;
}

#lab-codes {
	margin-left: 40px;
}

.double.lab-double {
	width: 350px;
	margin-top: 15px;
	margin-bottom: 20px;
}

#short-form label {
	width:200px;
	text-align: right;
	margin-right: 5px;
}

#short-form input {
	text-align: right;
	width: 45px;
}

#short-form ul {
	margin-left: 10px;
}


/*averages*/
#averages ul {
	padding-top: 15px;
}

#averages form {
	padding-top: 10px;
}

#averages label {
	width:160px;
	text-align: right;
	margin-right: 5px;
}

#averages input {
	text-align: right;
	width: 45px;
}



/**/